= render 'po_receipts/submenu'

.panel.panel-default
  .panel-heading
    .panel-title
      直接保稅進口收貨
  .table-responsive
    %table.table.table-bordered
      %thead
        %tr
          %th{width: '100px'}
          %th= t('plant')
          %th= t('import_no')
          %th= t('trip_no')
          %th= t('doc_date')
      %tbody
        - @ziebi001s.group_by(& :dpseq).each do |dpseq, impnrs|
          - impnr = []
          - impnrs.each{|row| impnr << row.impnr}
          %tr
            %td= link_to t('details'), import_order_po_receipts_path(impnrs: impnr.join(','),bukrs:impnrs.first.bukrs,dpseq:dpseq)
            %td= impnrs.first.bukrs
            %td= link_to impnr.join(','), direct_import_scan_po_receipts_path(impnrs: impnr.join(','),bukrs:impnrs.first.bukrs,dpseq:dpseq)
            %td= dpseq
            %td= impnrs.first.imdat
