%h5
  = render 'po_receipts/submenu'

.panel.panel-default
  .panel-heading
    .panel-title
      = params[:lifnr]
      .tab-1
      = params[:lifdn]
      = params[:impnrs]
      .tab-1
      = params[:werks]
      = params[:matnr]
  .table-responsive
    %table.table.table-bordered.table-condensed.small
      %thead
        %tr
          %th
          %th= t('material')
          %th.text-right= t('quantity')
          %th.text-right= t('pkg_no')
          %th= t('date_code')
          %th.text-center= t('mfg_date')
          %th= t('barcode')
          %th.text-center= t('type')
          %th.text-center= t('lot')
      %tbody
        - @po_receipts.each do |row|
          %tr
            %td= link_to t('destroy'), row, :method => :delete, :data => { :confirm => I18n.t('are_you_sure_delete') }
            %td= row.matnr
            %td.text-right= number_with_precision(row.menge, precision: 16, significant: true, strip_insignificant_zeros: true, delimiter: ',')
            %td.text-right= number_with_precision(row.pkg_no, precision: 16, significant: true, strip_insignificant_zeros: true, delimiter: ',')
            %td= row.date_code
            %td.text-center= row.mfg_date
            %td= row.barcode
            %td.text-center= row.vtype
            %td.text-center= row.charg
