%h5
  = link_to 'MES Phicomm功能', mes_phicomms_path
  .tab-1
  = link_to '掃SN打印SN標籤', print_sn_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印机身標籤', print_nameplate_box_label_view_mes_phicomms_path
  .tab-1
  = link_to '綁定KCODE碼', update_kcode_view_mes_phicomms_path
  .tab-1
  = link_to '檢查KCODE碼', check_kcode_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印彩盒標籤', print_color_box_label_view_mes_phicomms_path
  .tab-1
  = link_to '彩盒SN与机身標籤SN條碼檢查', sn_check_sn_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印外箱標籤', print_outside_box_label_view_mes_phicomms_path
  .tab-1
  = link_to '掃外箱查詢SN輸出EXCEL', export_to_excel_view_mes_phicomms_path
  .tab-1
  = link_to '回退站點', change_station_view_mes_phicomms_path