%h5
  = link_to 'MES Phicomm功能', mes_phicomms_path
  .tab-1
  = link_to 'SN條碼檢查', check_sn_view_mes_phicomms_path
  .tab-1
  = link_to '綁定KCODE碼', update_kcode_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印SN標籤', print_sn_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印彩盒標籤', print_color_box_label_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印外箱標籤', print_outside_box_label_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印SN標籤(小)', print_sn1_view_mes_phicomms_path
  .tab-1
  = link_to '掃SN打印SN標籤(3)', print_sn2_view_mes_phicomms_path
  .tab-1
  = link_to '掃外箱查詢SN', query_cartonnumber_view_mes_phicomms_path
  .tab-1
