= render 'mes_phicomms/submenu2'

.row
  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-heading
        .panel-title
          掃SN條碼標籤
      .panel-body
        .form-group.col-xs-12
          %label{for: 'barcode'}SN條碼
          = text_field_tag 'barcode', '', class: 'form-control', autofocus: true
      .table-responsive{style:"height:100%;overflow-y:auto;"}
        %table.table.small.table-bordered.table-condensed
          %thead
            %tr
              %th Itm
              %th S/N
              %th Msg
          %tbody#status_tbody

  .col-xs-12.col-sm-6
    .panel.panel-success
      .panel-heading
        .panel-title
          已确认扫入條碼
        .panel-body
          = hidden_field_tag 'init_num'
          %h4#snid

      .panel-body
        .form-inline
          - for i in 1..6
            .form-group
              %label{for: "sn#{i}"}
                = i
              =text_field_tag "sn#{i}", '', class: 'form-control', readonly: true, size: '50px'
            %p

:javascript
  var rowCounter = 0;
  function addrow(barcode){
    str = "<tr><td>"+rowCounter+"</td><td id='t"+rowCounter+"'>"+barcode+"</td><td id='s"+rowCounter+"'>...</td>";
    $('#status_tbody').prepend(str);
  }

  $(document).ready(function () {
    $('#barcode').focus();
    $('#barcode').change(function(){
      rowCounter += 1;
      var barcode = $('#barcode').val();
      addrow(barcode);
      $.ajax({
        url: '/mes_phicomms/check_barcode_label_post',
        method: 'post',
        async: false,
        data: {
          barcode: barcode,
          rowcounter: rowCounter,
          sn1: $('#sn1').val(),
          sn2: $('#sn2').val(),
          sn3: $('#sn3').val(),
          sn4: $('#sn4').val(),
          sn5: $('#sn5').val(),
          sn6: $('#sn6').val(),
          init_num: $('#init_num').val()
          }
      })
      $('#barcode').val('');
      $('#barcode').focus();
    });
  })


