= render 'mes_phicomms/submenu'

.row
  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-heading
        .panel-title
          外箱條碼查詢
      .panel-body
        .form-group.col-xs-12
          %label{for: 'barcode'}條碼
          = text_field_tag 'barcode', '', class: 'form-control', autofocus: true
      .table-responsive{style:"height:100%;overflow-y:auto;"}
        %table.table.small.table-bordered.table-condensed
          %thead
            %tr
              %th Itm
              %th 外箱條碼
              %th Msg
          %tbody#status_tbody

  .col-xs-12.col-sm-6
    = form_tag(export_to_excel_download_mes_phicomms_path, method: 'post') do
      .panel.panel-default
        .panel-heading
          .panel-title
            查询结果
        .panel-body
          = hidden_field_tag 'sn_text'
          %h4#snid
        .panel-footer
          = button_tag id:'btn-excel', type: 'button', class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-download-alt
            %b
              EXCEL
          .tab-2

          = link_to '清空重置', export_to_excel_view_mes_phicomms_path, class: 'btn btn-default'

:javascript
  var rowCounter = 0;
  function addrow(barcode){
    var str = "<tr><td>"+rowCounter+"</td><td id='t"+rowCounter+"'>"+barcode+"</td><td id='s"+rowCounter+"'>...</td>";
    $('#status_tbody').prepend(str);
    if (rowCounter > 10){
       $('tr').last().remove();
    }
  }

  $(document).ready(function () {
    $('#barcode').focus();
    $('#barcode').change(function(){
      rowCounter += 1;
      var barcode = $('#barcode').val();
      addrow(barcode);
      $.ajax({
        url: '/mes_phicomms/export_to_excel_post',
        async: false,
        method: 'post',
        data: {barcode: barcode, rowcounter: rowCounter, sn_text: $('#sn_text').val()}
      })
      $('#barcode').val('');
    });

    $('#btn-excel').click(function(){
        this.form.submit();
    });

  })


