= render 'mes_phicomms/submenu'
= hidden_field_tag 'program', "#{controller_name}.#{action_name}"

.row
  .col-xs-12.col-sm-6
    .panel.panel-default
      .panel-heading
        .panel-title
          掃SN條碼打印外箱標籤
          .pull-right
            %label{for: 'printer_ip'}打印機IP
            = text_field_tag 'printer_ip', @printer_ip
      .panel-body
        .form-group.col-xs-12
          %label{for: 'barcode'}SN條碼
          = text_field_tag 'barcode', '', class: 'form-control', autofocus: true
      .table-responsive{style:"height:100%;overflow-y:auto;"}
        %table.table.small.table-bordered.table-condensed
          %thead
            %tr
              %th Itm
              %th S/N
              %th MAC Addr
          %tbody#status_tbody

  .col-xs-12.col-sm-6
    .panel.panel-success
      .panel-heading
        .panel-title
          已确认扫入條碼
          .pull-right
            %label{for: 'pack_qty'}包装数量
            =text_field_tag 'pack_qty', @pack_qty

      .panel-body
        .panel-title
          %label{for: 'mo_number'}工單號碼
          =text_field_tag 'mo_number', @mo_number
          .pull-right
            %label{for: 'carton_number'}包裝箱號
            =text_field_tag 'carton_number', @carton_number
        %p
        .form-inline
          - for i in 1..9
            .form-group
              %label{for: "sn#{i}"}
                = i
              =text_field_tag "sn#{i}", '', class: 'form-control', readonly: true, size: '50px'
            %p

:javascript
  var rowCounter = 0;
  function addrow(barcode){
    str = "<tr><td>"+rowCounter+"</td><td id='t"+rowCounter+"'>"+barcode+"</td><td id='s"+rowCounter+"'>...</td>";
    $('#status_tbody').prepend(str);
    // if (rowCounter > 20){
    //   $('tr').last().remove();
    // }
  }

  $(document).ready(function () {
    $('#barcode').focus();
    $('#barcode').change(function(){
      rowCounter += 1;
      var barcode = $('#barcode').val();
      var printer_ip = $('#printer_ip').val();
      addrow(barcode);
      $.ajax({
        url: '/mes_phicomms/print_outside_box_label_post',
        method: 'post',
        async: false,
        data: {
          barcode: barcode,
          rowcounter: rowCounter,
          printer_ip: printer_ip,
          pack_qty: $('#pack_qty').val(),
          mo_number: $('#mo_number').val(),
          carton_number: $('#carton_number').val(),
          sn1: $('#sn1').val(),
          sn2: $('#sn2').val(),
          sn3: $('#sn3').val(),
          sn4: $('#sn4').val(),
          sn5: $('#sn5').val(),
          sn6: $('#sn6').val(),
          sn7: $('#sn7').val(),
          sn8: $('#sn8').val(),
          sn9: $('#sn9').val()
          }
      })
      $('#barcode').val('');
      $('#barcode').focus();
    });

    $('#printer_ip').change(function(){
      var printer_ip = $('#printer_ip').val();
      var program = $('#program').val();

      $.ajax({
        url: '/mes_phicomms/update_printer',
        method: 'post',
        data: {printer_ip: printer_ip, program: program}
      })
    })
  })


