= render 'mes_phicomms/submenu'

.panel.panel-default
  .panel-heading
    .panel-title
      掃描清單
      .pull-right
        = form_tag(query_phicomm_view_mes_phicomms_url({format: 'xlsx'}), method: 'get') do
          = hidden_field_tag 'sbm', 'X'
          = hidden_field_tag 'barcode', params[:barcode]
          = submit_tag 'Excel', class: 'form-control'
      .clearfix

  .panel-body
    = form_tag(query_phicomm_view_mes_phicomms_url, method: 'get') do
      = hidden_field_tag 'sbm', 'X'
      .row
        .form-group.col-xs-6.col-sm-3
          %label{for: 'barcode'}条码
          = text_field_tag 'barcode', params[:barcode], class: 'form-control'

        .form-group.col-xs-6.col-sm-3
          %label &nbsp;
          = submit_tag '查询', class: 'form-control'
  .table-responsive
    %table.table.table-bordered.small
      %thead
        %tr
          %th SN
          %th KCODE
          %th MAC地址
          %th 站点
          %th 外箱编号
          %th 建立时间
          %th DN编号
          %th DN地点
          %th DN时间
          %th 打印外箱时间
      %tbody
        - @query_phicomms.each do |row|
          %tr
            %td= row.sn
            %td= row.kcode
            %td= row.mac_add
            %td= row.station
            %td= row.cartonnumber
            %td= row.created_dt
            %td= row.dn_no
            %td= row.dn_location
            %td= row.dn_updated_dt
            %td= row.cartonnumber_updated_dt

:javascript
  $(document).ready(function () {
    $('#barcode').focus();
  })