= render 'supplier_dns/submenu'

%table
  %thead
    %tr
      %th Uuid
      %th Vtweg
      %th Werks
      %th Lifnr
      %th Lifdn
      %th Vbeln
      %th Status
      %th Vtype
      %th Impnr
      %th Remote ip
      %th Creator
      %th Updater
      %th
      %th
      %th

  %tbody
    - @supplier_dns.each do |supplier_dn|
      %tr
        %td= supplier_dn.uuid
        %td= supplier_dn.vtweg
        %td= supplier_dn.werks
        %td= supplier_dn.lifnr
        %td= supplier_dn.lifdn
        %td= supplier_dn.vbeln
        %td= supplier_dn.status
        %td= supplier_dn.vtype
        %td= supplier_dn.impnr
        %td= supplier_dn.remote_ip
        %td= supplier_dn.creator
        %td= supplier_dn.updater
        %td= link_to 'Show', supplier_dn
        %td= link_to 'Edit', edit_supplier_dn_path(supplier_dn)
        %td= link_to 'Destroy', supplier_dn, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Supplier dn', new_supplier_dn_path
