%p
%h5
  = link_to t('new_sto_entry'), new_sto_url
  .tab-1
  = link_to t('wait_dn_create'), wait_dn_create_stos_url
  .tab-1
  = link_to t('wait_dn_issue'), wait_dn_issue_stos_url
  .tab-1
  = link_to t('wait_billing'), wait_billing_stos_url
  .tab-1
  = link_to t('wait_goods_received'), wait_goods_received_stos_url

