= render 'stos/submenu'

.panel.panel-default
  .panel-heading
    .panel-title
      待DN收貨明細 / Wait for DN Goods Received List
  .panel-body
    = form_tag(wait_goods_received_stos_path, method: 'get') do
      = hidden_field_tag 'sbm', 'X'
      .row
        .form-group.col-xs-6.col-sm-2
          = select_tag 'vtweg', options_for_select(%w[DT TX PH TP], params[:vtweg] || current_user.vtweg), class: 'form-control'

        .form-group.col-xs-6.col-sm-3
          = render 'layouts/search_button'
          .tab-1
          = link_to '返回 Back', :back, class: 'btn btn-default'
  .table-responsive
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th DN
          %th STO
          %th= t('dlv_addr')
          %th= t('material')
          %th.text-right= t('dlv_qty')
          %th= t('unit')
          %th= t('supplier')
          %th= t('rcv_addr')
          %th= t('status')
      %tbody
        - @stos.group_by(& :rfc_batch_id).each do |rfc_batch_id, rows|
          - rows.each do |sto|
            %tr
              %td= sto.vbeln
              %td= "#{sto.ebeln}.#{sto.ebelp}"
              %td= sto.werks_from
              %td= sto.matnr
              %td.text-right= number_with_precision(sto.menge, precision: 16, significant: true, strip_insignificant_zeros: true, delimiter: ',')
              %td= sto.meins
              %td= sto.lifnr
              %td= sto.werks_to
              %td= sto.rfc_msg_type
          - if rows.first.rfc_msg_type.present?
            %tr.warning
              %td{colspan: 9}
                = link_to t('error_msg'), msg_rfc_msgs_url(rfc_batch_id: rfc_batch_id), remote: true
                .tab-1
                = link_to t('repost'), rerun_rfc_stos_url(rfc_batch_id: rfc_batch_id)

= render "layouts/error_dialog"
