- if user_signed_in?
  /
    %li.dropdown
      %a.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
        = t('barcode_receipt')
        %b.caret
      %ul.dropdown-menu
        %li= link_to t('home'), home_po_receipts_path
        %li= link_to t('general_receipt'), domestic_po_receipts_path
        %li= link_to t('direct_import'), direct_import_po_receipts_path
        %li= link_to t('unallocated_list'), unallocated_po_receipts_path
        %li= link_to t('allocated_po'), allocated_po_po_receipts_path

  %li= link_to t('barcode_receipt'), home_po_receipts_path


  %li.dropdown
    %a.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
      MES
      %b.caret
    %ul.dropdown-menu
      %li= link_to t('檢查工單點位'), check_dup_point_reports_url
      %li= link_to '顯示機台上庫存', display_stock_area_info_mes_url
      %li= link_to '新建料號/批次條碼', create_new_barcode_by_lot_view_mes_url

  %li.dropdown
    %a.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
      = current_user.email.split('@').first
      %b.caret
    %ul.dropdown-menu
      %li= link_to '退出', destroy_user_session_path, :method=>'delete'
      %li= link_to t('user_info'), extra_info_user_ldaps_path

  %li= link_to '打印機', printers_path

- else
  %li= link_to '登入', new_user_session_path

